body{
    font-family: Arial, Helvetica, sans-serif;
    background: lightblue;
    font-size: 20px;
}

main{
    display: grid;
    place-items: center;
}

.center {
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    background-color: white;
}

.item1:before{
    content: '';
    background-image:url('../img/1.png'); 
    background-size: 150px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
}

.item2:before{
    content: '';
    background-image:url('../img/2.png'); 
    background-size: 150px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
}
.item3:before{
    content: '';
    background-image:url('../img/3.png'); 
    background-size: 150px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
}
.item4:before{
    content: '';
    background-image:url('../img/1.png'); 
    background-size: 150px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
}

article{
    height: 150px;
    display: flex;
    margin-bottom: 10px;
}

div{
    display: block;
    width: 100%;
    align-self: center;
    padding-left: 170px;
}

